.container{
    text-align: center;
margin: 25px;
}
body{
    background-color: rgb(176, 213, 213);
}
table{
    margin: auto;
}
input{
    border: 0px;
    width: 296px;
    height: 45px;
    font-size: 24px;
    margin: 5px;
    color: rgb(225, 227, 210);
    background: rgba(80, 125, 167, 0.299);
}
button{
    font-size: 24px;
    /* background: black; */
    background: rgba(80, 125, 167, 0.299);
    border: 1px;

    width: 72px;
    height: 46px;
    color: white;
    /* border-radius: 8px; */

}
h1{
    font-family: 'Times New Roman', Times, serif;
    /* color: rgb(65, 65, 230); */
    color: rgb(80, 125, 167);
    padding-top: 50PX;
    margin: 8px;
}