body{
    background:rgb(78, 174, 222);
}
.red{
    color: rgb(18, 8, 169);

    background-color:transparent;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    padding-top: 100px;
}